/* BASE */
/* FONT RUBIK*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
/* FONT ROBOTO */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* COMPONENTES */
html, body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #efefef;
}

:root {
  font-size: 16px;
}

.nav {
  user-select: none;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.6rem;
  background-color: #e8beac;
}
.nav .nav-logo {
  width: 150px;
  margin: 0.7rem 1rem 0 1rem;
}
@media only screen and (min-width: 968px) {
  .nav .nav-logo {
    font-size: 38px;
    width: 20vw;
  }
}
.nav .nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav .nav-menu .nav-links {
  margin-right: 1rem;
  text-align: center;
  color: #564c49;
  padding: 0.5rem;
  list-style-type: none;
  font-family: "rubik";
  font-size: 1.1rem;
  text-transform: capitalize;
  transition: 1s ease-in;
}
.nav .nav-menu .nav-links :hover {
  color: white;
  text-decoration: underline;
}
.nav .nav-menu .nav-links a {
  width: 100%;
  color: #564c49;
  text-decoration: none;
}
.nav .nav-whatsapp-container {
  cursor: pointer;
  width: 173px;
  height: 30px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  color: #efefef;
  background-color: #564c49;
  border-radius: 2.5rem;
  border: 3px solid #564c49;
}
.nav .nav-whatsapp-container .whatsapp-title {
  align-self: center;
  font-family: "rubik";
  font-weight: 400;
  font-size: 1rem;
}
.nav .nav-whatsapp-container .whatsapp-title a {
  text-decoration: none;
  color: #fff;
}
.nav .nav-whatsapp-container .enlace-whatsapp {
  color: #fff;
  text-align: center;
  font-size: 1.3rem;
}
.nav .nav-whatsapp-container .enlace-whatsapp .whatsapp-ico {
  /* font-size: 1rem; */
  align-self: center;
  margin: 0 0.6rem;
}
.nav .menuToggle {
  display: none;
}

@media (max-width: 768px) {
  .nav {
    display: flex;
    /* whatsapp */
  }
  .nav .nav-menu {
    display: none;
  }
  .nav .menuToggle {
    display: block;
    position: relative;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }
  .nav .menuToggle a {
    text-decoration: none;
    color: #726f6f;
    transition: color 0.3s ease;
  }
  .nav .menuToggle a:hover {
    color: rgb(252, 252, 252);
    text-decoration: underline;
  }
  .nav .menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }
  .nav .menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #858383;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  .nav .menuToggle span:first-child {
    transform-origin: 0% 0%;
  }
  .nav .menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  .nav .menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #7a7979;
  }
  .nav .menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  .nav .menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  .nav .menuToggle .menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    height: 92vh;
    margin: -100px 0 0 -95px;
    padding: 50px;
    padding-top: 125px;
    background: #e8beac;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    font-family: "rubik";
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
}
@media only screen and (max-width: 768px) and (max-width: 480px) {
  .nav .menuToggle .menu {
    left: 2rem;
  }
}
@media (max-width: 768px) {
  .nav .menuToggle .menu li {
    padding: 10px 0;
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .nav .menuToggle input:checked ~ ul {
    transform: none;
  }
}
@media (max-width: 768px) {
  .nav .nav-whatsapp-container {
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: #efefef;
    background-color: #564c49;
    border-radius: 2.5rem;
    border: 3px solid #564c49;
  }
  .nav .nav-whatsapp-container .whatsapp-title {
    display: none;
  }
  .nav .nav-whatsapp-container .whatsapp-ico {
    font-size: 2.5rem;
    align-self: center;
    margin: 0 0.6rem;
  }
}
.index-main {
  padding: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .index-main {
    margin: 0 auto;
  }
}
.index-main .main-title {
  margin-top: 3rem;
  font-family: "rubik";
  font-weight: 500;
  color: #564c49;
  text-align: center;
  font-size: 1.75rem;
  line-height: 2rem;
}
@media only screen and (min-width: 1024px) {
  .index-main .main-title {
    font-size: 38px;
    width: 800px;
  }
}
.index-main .main-descripcion {
  font-family: "roboto";
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  line-height: 1rem;
}

.seccion-ilustraciones {
  height: 100%;
  padding: 1rem;
  overflow-x: scroll;
  display: flex;
  flex-wrap: nowrap;
}
@media only screen and (min-width: 968px) {
  .seccion-ilustraciones {
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}
.seccion-ilustraciones .card-presentacion {
  max-width: 379px;
  max-height: 524px;
  margin: 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}
.seccion-ilustraciones .card-presentacion .card-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #e8beac;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.seccion-ilustraciones .card-presentacion .card-img-container .card-img {
  max-width: 336px;
}
.seccion-ilustraciones .card-presentacion .card-descripcion-container {
  padding: 1rem;
}
.seccion-ilustraciones .card-presentacion .card-descripcion-container .card-title {
  font-family: "rubik";
  font-weight: 700;
  font-size: 1.5rem;
  color: #564c49;
}
.seccion-ilustraciones .card-presentacion .card-descripcion-container .card-subtitle {
  font-family: "rubik";
  font-weight: 400;
  font-size: 1rem;
  color: #7b8e57;
  line-height: 1.1875rem;
}
.seccion-ilustraciones .card-presentacion .card-descripcion-container .card-descripcion {
  font-family: "roboto";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.fondo-ilustrado-container {
  height: 100%;
  margin-bottom: 1rem;
  margin-top: 1rem;
  overflow: hidden;
}
.fondo-ilustrado-container .modal-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fondo-ilustrado-container .modal-container .modal-imagenes {
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media only screen and (min-width: 968px) {
  .fondo-ilustrado-container .modal-container .modal-imagenes {
    flex-direction: row;
  }
}
.fondo-ilustrado-container .modal-container .modal-imagenes .modal-img {
  width: 100vw;
}
@media only screen and (min-width: 968px) {
  .fondo-ilustrado-container .modal-container .modal-imagenes .modal-img {
    width: 50vw;
  }
}
.fondo-ilustrado-container .modal-container .modal-info {
  padding: 1rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: static;
  background-color: white;
  border-radius: 8px;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.3);
  transform: translateY(-1.8rem);
}
@media only screen and (min-width: 640px) {
  .fondo-ilustrado-container .modal-container .modal-info {
    transform: translateY(-3rem);
  }
}
@media only screen and (min-width: 768px) {
  .fondo-ilustrado-container .modal-container .modal-info {
    transform: translateY(-3.5rem);
  }
}
@media only screen and (min-width: 1024px) {
  .fondo-ilustrado-container .modal-container .modal-info {
    transform: translateY(-4.5rem);
    width: 65%;
  }
}
.fondo-ilustrado-container .modal-container .modal-info .modal-titulo {
  font-family: "rubik";
  font-size: 1.5rem;
  text-align: center;
  color: #564c49;
}
.fondo-ilustrado-container .modal-container .modal-info .modal-descripcion {
  font-family: "roboto";
  font-size: 16px;
  text-align: center;
  color: #000000;
}

.ayd-container {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.ayd-container .ayd-title {
  font-family: "rubik";
  font-size: 1.75rem;
  text-align: center;
  color: #564c49;
  margin-bottom: -0.75rem;
}
@media only screen and (min-width: 640px) {
  .ayd-container .ayd-title {
    font-size: 1.925rem;
  }
}
@media only screen and (min-width: 768px) {
  .ayd-container .ayd-title {
    font-size: 2.1rem;
  }
}
.ayd-container .ayd-descripcion {
  text-align: center;
  font-family: "roboto";
  font-size: 1rem;
  font-weight: 400;
  color: #000000;
}
@media only screen and (min-width: 640px) {
  .ayd-container .ayd-descripcion {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 768px) {
  .ayd-container .ayd-descripcion {
    font-size: 1.4rem;
  }
}
.ayd-container .ayd-img-container {
  overflow: scroll;
  display: flex;
}
@media only screen and (min-width: 968px) {
  .ayd-container .ayd-img-container {
    overflow: hidden;
  }
}
.ayd-container .ayd-img-container .ayd-img {
  width: 100vw;
}
@media only screen and (min-width: 968px) {
  .ayd-container .ayd-img-container .ayd-img {
    width: 50vw;
  }
}

.comopedir-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-bottom: 3rem;
}
.comopedir-container .comopedir-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-image: url("../assets/comopedir/comopedir-fondo.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.comopedir-container .comopedir-text-container .comopedir-title {
  margin-top: -20px;
  margin-bottom: 0.5rem;
  font-family: "rubik";
  color: #564c49;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.5rem;
  text-align: center;
}
@media only screen and (min-width: 968px) {
  .comopedir-container .comopedir-card-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem;
  }
}
.comopedir-container .comopedir-card-container .comopedir-card {
  height: 100%;
  margin-top: 3rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 968px) {
  .comopedir-container .comopedir-card-container .comopedir-card {
    flex-direction: column;
    align-items: start;
    justify-items: space-around;
  }
}
.comopedir-container .comopedir-card-container .comopedir-card .comopedir-card-icon {
  margin-bottom: 1rem;
}
.comopedir-container .comopedir-card-container .comopedir-card .comopedir-card-description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 968px) {
  .comopedir-container .comopedir-card-container .comopedir-card .comopedir-card-description-container {
    max-width: 250px;
    height: 220px;
    padding: 1rem;
    align-items: flex-start;
    justify-items: flex-start;
    border-right: 2px solid #564c49;
  }
}
.comopedir-container .comopedir-card-container .comopedir-card .comopedir-card-description-container .comopedir-card-title {
  font-family: "rubik";
  color: #564c49;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5rem;
}
.comopedir-container .comopedir-card-container .comopedir-card .comopedir-card-description-container .comopedir-card-descripcion {
  margin-top: 0;
  text-align: center;
  font-family: "roboto";
  font-weight: 400;
  line-height: 1.5rem;
  color: #000000;
}
@media only screen and (min-width: 968px) {
  .comopedir-container .comopedir-card-container .comopedir-card .comopedir-card-description-container .comopedir-card-descripcion {
    text-align: start;
  }
}

footer .contacto {
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
footer .contacto .whatsapp-container {
  width: 20rem;
  display: flex;
  align-content: center;
  justify-content: center;
  letter-spacing: 3px;
  background-color: #564c49;
  border-radius: 2.5rem;
  border: 3px solid #564c49;
}
footer .contacto .whatsapp-container a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #efefef;
}
footer .contacto .whatsapp-container .enviar-whatsapp-title {
  font-family: "rubik";
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.4rem;
}
footer .contacto .whatsapp-container .enviar-whatsapp-ico {
  font-size: 2.5rem;
  align-self: center;
  margin: 0 0.6rem;
}
footer .contacto .faq-container {
  width: 20rem;
  display: flex;
  align-content: center;
  justify-content: center;
  color: #564c49;
  background-color: #efefef;
  border-radius: 2.5rem;
  border: 3px solid #564c49;
}
footer .contacto .faq-container .faq a {
  text-decoration: none;
  color: #564c49;
  font-family: "rubik";
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.4rem;
}
footer .footer-descripcion-container {
  width: 100%;
}
@media only screen and (min-width: 968px) {
  footer .footer-descripcion-container {
    margin-top: 4rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
footer .footer-descripcion-container .footer-descripcion {
  padding: 1rem;
  font-family: "roboto";
  font-size: 1rem;
  line-height: 1.25rem;
  text-align: start;
}
@media only screen and (min-width: 968px) {
  footer .footer-descripcion-container .footer-descripcion {
    margin-left: 2rem;
    width: 250px;
    flex-direction: column;
    align-items: start;
    justify-items: center;
  }
}
footer .footer-descripcion-container .contacto-links {
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
  font-family: "roboto";
  font-size: 1rem;
}
@media only screen and (min-width: 968px) {
  footer .footer-descripcion-container .contacto-links {
    justify-content: flex-end;
    align-items: flex-end;
    line-height: 2rem;
  }
}
footer .footer-descripcion-container .contacto-links .contact-link {
  text-decoration: none;
  color: #564c49;
}
footer .footer-descripcion-container .contacto-links .contact-link :hover {
  text-decoration: underline;
}
footer .footer-descripcion-container .contacto-links .instagram-logo {
  font-size: 2rem;
}
footer .footer-logo-container {
  padding: 1rem;
  display: flex;
  justify-content: center;
  background-color: #e8beac;
}
footer .footer-logo-container .footer-logo {
  width: 200px;
}

.faq-title {
  font-family: "rubik";
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
  margin: 4rem 0;
}
@media only screen and (min-width: 968px) {
  .faq-title {
    font-size: 38px;
  }
}

.faq-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5rem;
}
.faq-card-container .faq-card {
  max-width: 320px;
  height: 560px;
  padding: 1.5rem;
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.2);
}
.faq-card-container .faq-card .faq-card-img {
  margin: 1rem 0;
  width: 100%;
}
.faq-card-container .faq-card .faq-card-title {
  font-family: "rubik";
  font-size: 24px;
}
.faq-card-container .faq-card .faq-card-description {
  margin-top: 3rem;
  font-family: "roboto";
  font-size: 1rem;
  line-height: 24px;
}

.conocenos-main {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.conocenos-main .conocenos-title {
  padding: 5rem;
  font-family: "rubik";
  font-size: 28px;
  color: #564c49;
  font-weight: 600;
  text-align: center;
}
@media only screen and (min-width: 968px) {
  .conocenos-main .conocenos-title {
    font-size: 38px;
  }
}
.conocenos-main .conocenos-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}
.conocenos-main .conocenos-description .conocenos-description-img {
  width: 100vw;
}
@media only screen and (min-width: 968px) {
  .conocenos-main .conocenos-description .conocenos-description-img {
    width: 100vw;
    height: 496px;
    object-fit: cover;
    object-position: 0 15%;
  }
}
.conocenos-main .conocenos-description .conocenos-description-container {
  margin-top: -2.5rem;
  padding: 1rem;
  border-radius: 8px;
  background-color: #ffffff;
  width: 80%;
  box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.3);
}
@media only screen and (min-width: 968px) {
  .conocenos-main .conocenos-description .conocenos-description-container {
    width: 854px;
    padding: 2rem;
  }
}
.conocenos-main .conocenos-description .conocenos-description-container .conocenos-description-text {
  font-family: "roboto";
  font-size: 1rem;
  text-align: center;
}
@media only screen and (min-width: 968px) {
  .conocenos-main .conocenos-description .conocenos-description-container .conocenos-description-text {
    font-size: 1.1rem;
  }
}
.conocenos-main .conocenos-artist {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 968px) {
  .conocenos-main .conocenos-artist {
    flex-direction: row;
    padding: 6rem;
  }
}
.conocenos-main .conocenos-artist .conocenos-artist-img {
  width: 100vw;
}
@media only screen and (min-width: 968px) {
  .conocenos-main .conocenos-artist .conocenos-artist-img {
    width: 584px;
  }
}
.conocenos-main .conocenos-artist .artist-container {
  padding: 2rem;
}
.conocenos-main .conocenos-artist .artist-container .conocenos-artist-title {
  color: #564c49;
  font-family: "rubik";
  font-weight: 700;
}
.conocenos-main .conocenos-artist .artist-container .conocenos-artist-description {
  font-family: "roboto";
}
@media only screen and (min-width: 968px) {
  .conocenos-main .conocenos-artist .artist-container .conocenos-artist-description {
    width: 580px;
  }
}

/* OCULTAR ELEMENTOS */
.oculto {
  display: none !important;
}

/*# sourceMappingURL=style.css.map */
