footer{
    .contacto{
        height: 10rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        .whatsapp-container{
            width: 20rem;
            display: flex;
            align-content: center;
            justify-content: center;
            letter-spacing: 3px;
            background-color: nth($colores, 2);
            border-radius: 2.5rem;
            border: 3px solid nth($colores, 2);
            a{
                display: flex;
                justify-content: center;
                text-decoration: none;
                color: #efefef;
            }
            .enviar-whatsapp-title{
                font-family: nth($fonts, 1);
                font-weight: 600;
                font-size: 1.125rem;
                line-height: 1.4rem;
            }
            .enviar-whatsapp-ico{
                font-size: 2.5rem;
                align-self: center;
                margin: 0 0.6rem;
            }
        }
        .faq-container{
            width: 20rem;
            display: flex;
            align-content: center;
            justify-content: center;
            color: nth($colores, 2);
            background-color: nth($colores, 3);
            border-radius: 2.5rem;
            border: 3px solid nth($colores, 2);
            .faq {

                a{
                text-decoration: none;
                color: #564c49;
                font-family: nth($fonts, 1);
                font-weight: 600;
                font-size: 1.125rem;
                line-height: 1.4rem;
                }
            }
        }
    }
    .footer-descripcion-container{
        width: 100%;
        @media only screen and (min-width: 968px) {
            margin-top: 4rem;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        .footer-descripcion{
            padding: 1rem;
            font-family: nth($fonts, 2);
            font-size: 1rem;
            line-height: 1.25rem;
            text-align: start;
            @media only screen and (min-width: 968px) {
                margin-left: 2rem;
                width: 250px;
                flex-direction: column;
                align-items: start;
                justify-items: center;
            }
        }
        .contacto-links{
            height: 120px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 3rem;
            font-family: nth($fonts, 2);
            font-size: 1rem;
            @media only screen and (min-width: 968px) {
                justify-content: flex-end;
                align-items: flex-end;
                line-height: 2rem;
            }
            .contact-link{
                text-decoration: none;
                color: nth($colores, 2);
                :hover{
                    text-decoration: underline;
                }
            }
            .instagram-logo{
                font-size: 2rem;
            }
        }
    }
    .footer-logo-container{
        padding: 1rem;
        display: flex;
        justify-content: center;
        background-color: nth($colores,1);
        .footer-logo{
            width: 200px;
        }
    }
}
